.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
margin: 0;
padding: 0;

}
.tabs-header {
  font-family: 'Michroma', sans-serif;

  padding: 5px; /* 15px padding */
  width: fit-content; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  height: 500px;
  font-size: 16px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  margin: 0px auto;
  background-color: black;
}
.tabs-header:hover {
  color:#d1e751;
}
.tabs-intro p {
  font-family: 'Michroma', sans-serif;
  font-size: 14px;
  line-height: 2;
  width: 70%;
  margin: 0 auto
}
.nav-link {
  margin: 0 5px;
}

.create-new-button {
  font-family: 'Michroma', sans-serif;
  background: #d1e751;
  display: flex;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 15px 15px;
  margin: 0px auto;
  display: flex;
  width: fit-content;
  margin-bottom: 20px;
}

/* .create-new-button:hover,
.create-new-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #323232;
}

.create-new-button:active {
  opacity: .5;
} */

.create-new-button span {
  color: black;
  cursor: pointer;
  display: inline-block;
  position: sticky;
  transition: 0.5s;
}

.create-new-button span:after {
  content: '»';
  color:#4dbce8;
  position: absolute;
  opacity: 0;
}

.create-new-button:hover span {
  padding-right: 25px;
}

.create-new-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Style the links inside the sidenav */
#navbar {
  position: fixed;
  top: 0px;
  left: 10px;
}
#mySidenav .link {
  font-family: 'Michroma', sans-serif;
  position: absolute; /* Position them relative to the browser window */
  left: -145px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px 10px 15px 15px; /* 15px padding */
  width: 175px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: right;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.tabs {
  font-family: 'Michroma', sans-serif;
  position: absolute; /* Position them relative to the browser window */
  left:-20px; /* Position them outside of the screen */
  padding: 15px 15px 15px 15px; /* 15px padding */
  width: 120px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 16px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  text-align: right;
  margin:8px;
}
.tabs:hover {
  color: #4dbce8;
}
#mySidenav .link:hover {
  left: -20px; /* On mouse-over, make the elements appear as they should */
}

i {
  padding: 0px 5px 0px 10px;
}

#tabs {
  top: -10px;
  background-color: #000000;
}

#interest {
  top: 60px;
  background-color: #26ade4;
}

#profile {
  top: 120px;
  background-color: #d1e751; 
}

#signout {
  top: 180px;
  background-color: #9f9f9f;
}

#signout:hover {
  background-color: red; 
}


/* INTEREST CARD */

.interestcard-topic {
  font-family: 'Michroma', sans-serif;

  padding: 15px; /* 15px padding */
  width: fit-content; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 5px; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  margin: 0 auto;
  background-color: #d1e751;
}

.interest-box-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  width: 850px;
  height:auto;
}

.interest-box {
  background-color: #28ace4;
  padding: 20px;
  margin: 10px 10px;
  width: fit-content;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.interest-card-topic {
  font-size: 30px;
  font-family: 'Michroma', sans-serif;
  color: white;
}
.interest-card-topic:hover {
  color: #9f9f9f;
}

.interest-card-topic-header {
  font-size: 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.interest-card-description {
  font-size: 16px;
  padding: 10px 0px 0px 0px;
}

.interest-form {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: top;
  width:500px;
  margin: 0 auto;
}


.interest-form input {
  width: auto;
  margin: 0;
}

.register-form textarea{
  width: 500px;
  border: 3px solid #26ade4;
  border-radius: 5px;
  padding: 8px;
  height: 150px;
  padding: 12px 20px;
  resize: none;
}

/* Register Page */
.register-wrapper {
  margin: auto auto;
  display: flex;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20% auto;
}
.register-form input {
  display: flex;

  width: 500px;
  border: 3px solid #26ade4;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
}
.register-title {
  font-family: 'Michroma', sans-serif;

  padding: 15px; /* 15px padding */
  width: fit-content; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 5px; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  margin: 0 auto;
  background-color: #26ade4;
}
.register-form button {
  font-family: 'Michroma', sans-serif;
  background: #d1e751;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 15px 15px;
  margin: 0px auto;
  width: fit-content;
  margin-top: 10px;
}

/* Register Page */
.register-wrapper {
  margin: auto auto;
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20% auto;
}
.login-form input {
  display: flex;

  width: 500px;
  border: 3px solid #d1e751;
  border-radius: 5px;
  padding: 8px;
  margin: 10px;
}
.login-title {
  font-family: 'Michroma', sans-serif;

  padding: 15px; /* 15px padding */
  width: fit-content; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border-radius: 5px; /* Rounded corners on the top right and bottom right side */
  text-align: center;
  margin: 0 auto;
  background-color: #d1e751;
}
.login-form button {
  font-family: 'Michroma', sans-serif;
  background: #28ace4;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 15px 15px;
  margin: 0px auto;
  width: fit-content;
  margin-top: 10px;
}

/* Misc */
.note-card {
    background-color: #28ace4;
    padding: 20px;
    margin: 10px 10px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }
.page-container {
  width: fit-content;
  min-width: 90px;
  height: 200px;
  background-color: #28ace4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 5px auto;
}
.gcse-search {
  width: 50%;
  height: 10%;
}

.webpage-title {
  font-family: 'Michroma', sans-serif;
  font-size: 40px; /* Increase font size */margin: 20px 10px;
  color:#28ace4;
}

.createpage-title {
  font-family: 'Michroma', sans-serif;
  font-size: 30px; /* Increase font size */margin: 20px 10px;
  color:#28ace4
}

.section-title {
  font-family: 'Michroma', sans-serif;
}

.section-name {
  font-family: 'Michroma', sans-serif;
  margin: 20px auto 10px auto;
  font-size: 16px;
}

/* Profile Page */

.delete-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-page {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 50px 0px 10px 0px;
  background: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.profile-form {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-item {
  width: 400px;
  margin: 8px 0px 8px 0px;
}
.profile-input {
  width: fit-content;
  font-family: 'Michroma', sans-serif;
  margin: auto;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-align: center;
}
.profile-form input {
  border-bottom: 2px solid black;
}
.profile-form label {
  font-family: 'Michroma', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.profile-input-updating {
  font-family: 'Michroma', sans-serif;
  margin: 0px 0px 0px 10px;
  width: 400px;
  background: white;
  border: 1px solid black;
  border-bottom: 1px solid black;
}

.profile-form button {
  font-family: 'Michroma', sans-serif;
  background: #28ace4;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 15px 15px;
  margin: 0px auto;
  margin-top: 10px;
  width: fit-content;
}
.delete-hiding {
  display: none;
}
.delete-showing {
  font-family: 'Michroma', sans-serif;
  background: red;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 15px 15px;
  margin: 0px auto;
  width: fit-content;
  margin-top: 0px;
}

.interest {
  margin: 0px auto;
}
.interest-form input {
  margin: 0px;
}
.google-header {
  margin: 0px 0px 5px 0px;
  font-family: 'Michroma', sans-serif;
  font-weight: bold;
}
.note-title {
  font-size: 14px;
  font-family: 'Michroma', sans-serif;
}
.note-body {
  font-size: 12px;
}
.search-list{
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.delete-page {
  font-family: 'Michroma', sans-serif;
  background: red;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  padding: 10px 10px;
  width: fit-content;
  margin-top: 50px;

}